<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@this.Url.Action("index", "home")">James Dibble</a>
        </div>
    </div>
</nav>
<nav id="sidebar">
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#sidebar-collapse">
        <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <div class="collapse" id="sidebar-collapse">
        <ul class="nav nav-pills nav-stacked">
            <li>@this.Html.ActionLink("James Dibble", "index", "home")</li>
            <li>@this.Html.ActionLink("Blog", "blogarchive", "posts")</li>
            <li>@this.Html.ActionLink("Portfolio", "portfolioarchive", "posts")</li>
            <li>@this.Html.ActionLink("Contact Me", "contact", "home")</li>
        </ul>
    </div>
</nav>