@{
    this.Title = "James Dibble - .Net Web Developer";
    this.Description = "James Dibble is a .Net developer specialised in creating responsive websites using ASP.Net MVC.";
}

<div class="jumbotron primary" id="hello">
    <div class="container-fluid">
        <div class="col-lg-12">
            <h1>
                Hello, I'm James Dibble
            </h1>
            <p class="text-center">
                I'm also a @(Math.Abs(((DateTime.Now - new DateTime(1992, 7, 9)).Days / 365))) year old software
                engineer living and working in Bristol, UK.  A self-confessed nerd, I love Microsoft software and Apple hardware.
                I have been building websites for years now and have created web presences for a number of businesses.
            </p>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#websites">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron" id="websites">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p>&lt;html/&gt;</p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I create websites</h2>
            <p>I have lots of experience in creating websites for all sorts of businesses.  From portfolios to eCommerce websites.</p>
            <a href="@this.Url.Action("portfolioarchivetag", "posts", new { tag = "website".ToLower() })" class="btn btn-primary">View&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#apps">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron primary" id="apps">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p><i class="fa fa-windows"></i>&nbsp;<i class="fa fa-android"></i>&nbsp;<i class="fa fa-apple"></i></p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I create applications</h2>
            <p>
                I always make websites compatible with mobile phones, but I can also create native apps too.  I have also made
                applications for desktop.
            </p>
            <a href="@this.Url.Action("portfolioarchivetag", "posts", new { tag = "app".ToLower() })" class="btn btn-default">View&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#blogging">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron" id="blogging">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p><i class="fa fa-comments-o fa-2x"></i></p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I do blogging</h2>
            <p>I like to share my solutions to any tough problems I come accross, and I share alot of my code with the world.</p>
            <a href="@this.Url.Action("blogarchive", "posts")" class="btn btn-primary">Blog&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
        </div>
    </div>
    <div class="scroll-arrow" data-scroll-to="#social">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-down"></i>
    </div>
</div>
<div class="jumbotron primary" id="social">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="elipse">
                <p><i class="fa fa-users fa-2x"></i></p>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>I am social</h2>
            <p>
                I'd love to hear from you!  I use most of the big social networks so please do get in touch.  If you have a project in
                mind, <a href="@this.Url.Action("contact", "home")">contact me</a>.
            </p>
            <a href="https://twitter.com/dibble_james" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>&nbsp;&nbsp;
            <a href="https://plus.google.com/104250015987511319684/posts" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a>&nbsp;&nbsp;
            <a href="http://www.linkedin.com/in/dibblejames" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>&nbsp;&nbsp;
            <a href="https://github.com/james-dibble/" target="_blank"><i class="fa fa-github fa-3x"></i></a>
        </div>
    </div>
</div>

@section Script
{
    <script src="http://asset.jdibble.co.uk/script/jquery.scrollorama.js"></script>
    <script>
        $(function () {
            var initScrollorama = function () {
                if (window.innerWidth <= 768) {
                    return;
                }

                var scrollorama = $.scrollorama({
                    blocks: '.jumbotron',
                    enablePin: false
                });

                scrollorama
                    .animate('#hello h1', { duration: $('#hello').height(), property: 'top', end: '+500px' })
                    .animate('#hello p', { duration: $('#hello').height() - 70, property: 'top', end: '+400px' })
                    .animate('#hello h1', { duration: $('#hello').height(), property: 'right', end: '+1500px' })
                    .animate('#hello p', { duration: $('#hello').height() - 70, property: 'left', end: '+1000px' })
                    .animate('#websites .col-lg-9', { duration: $('#websites').height() - 70, property: 'right', start: '-1500px' })
                    .animate('#websites .elipse', { duration: $('#websites').height() - 70, property: 'left', start: '-1500px' })
                    .animate('#apps .col-lg-9', { duration: $('#apps').height() - 70, property: 'right', start: '-1500px' })
                    .animate('#apps .elipse', { duration: $('#apps').height() - 70, property: 'left', start: '-1500px' })
                    .animate('#blogging .col-lg-9', { duration: $('#blogging').height() - 70, property: 'right', start: '-1500px' })
                    .animate('#blogging .elipse', { duration: $('#blogging').height() - 70, property: 'left', start: '-1500px' })
                    .animate('#social .col-lg-9', { duration: $('#social').height() - 70, property: 'right', start: '-1500px' })
                    .animate('#social .elipse', { duration: $('#social').height() - 70, property: 'left', start: '-1500px' })

                    .animate('#websites .col-lg-9', { duration: $('#websites').height() - 70, delay: $('#websites').height() + 180, property: 'top', end: '+400px' })
                    .animate('#websites .elipse', { duration: $('#websites').height() - 70, delay: $('#websites').height() + 180, property: 'top', end: '+500px' })
                    .animate('#apps .col-lg-9', { duration: $('#apps').height() - 70, delay: $('#apps').height() + 180, property: 'top', end: '+400px' })
                    .animate('#apps .elipse', { duration: $('#apps').height() - 70, delay: $('#apps').height() + 180, property: 'top', end: '+500px' })
                    .animate('#blogging .col-lg-9', { duration: $('#blogging').height() - 70, delay: $('#blogging').height() + 180, property: 'top', end: '+400px' })
                    .animate('#blogging .elipse', { duration: $('#blogging').height() - 70, delay: $('#blogging').height() + 180, property: 'top', end: '+500px' })
                ;
            };

            $(window).resize(initScrollorama);

            initScrollorama();
        });
    </script>
}
