@model Blog
@{
    ViewBag.Title = string.Join(" - ", "James Dibble", "Blog", this.Model.Title);
    ViewBag.Description = this.Model.Abstract;
}
@section Meta
{
    <link rel="canonical" href="http://www.jdibble.co.uk@(this.Url.Action("blog", "posts", new { year = this.Model.Date.Year, month = this.Model.Date.Month, day = this.Model.Date.Day, title = this.Model.Title.ToLowerInvariant().Replace(' ', '-') }))" />
}
@section Script
{
    <script src="@this.Url.Content("~/asset/script/post.min.js")"></script>
}
<div class="col-lg-2 col-md-2 col-sm-3 affix-container">
    @this.Html.Action("BlogHeader", "Posts", new { year = this.Model.Date.Year, month = this.Model.Date.Month, canRemove = false })
</div>
<div class="col-lg-10 col-md-10 col-sm-9">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-header">
            <h1>@this.Model.Title</h1>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="lead">@this.Model.Abstract</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
            <span class="fa fa-tag"></span>
            @this.Html.Partial("TagLinks", this.Model)
        </p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @this.Html.Raw(this.Model.Content)
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>
