@model Portfolio
@{
    this.Title = string.Join(" - ", "Portfolio", this.Model.Title);
    this.Description = this.Model.Abstract;
}

@section Style
{
    <link rel="stylesheet" href="http://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" />
}

@section Script
{
    <script src="http://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
    <script src="//asset.jdibble.co.uk/script/imageLoader.min.js"></script>
    <script src="@this.Url.Content("~/asset/script/post.js")"></script>
}
<div id="affix-target">
    <div class="col-lg-2 col-md-3 col-sm-3">
        @foreach (var image in this.Model.Images)
        {
            <a href="@image.Path" data-toggle="lightbox" data-gallery="multiimages" data-title="@this.Model.Title">
                <div class="elipse">
                    <div class="img" data-src="@image.Path"></div>
                </div>
            </a>
            <br />
        }
    </div>
    <div class="col-lg-8 col-md-7 col-sm-7">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h1>@this.Model.Title</h1>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="lead">@this.Model.Abstract</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                <span class="fa fa-tag"></span>
                @this.Html.Partial("TagLinks", this.Model)
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @this.Html.Raw(this.Model.Content)
        </div>
    </div>
</div>
<div data-spy="affix-maybe" data-affix-target="#affix-target" class="hidden-xs affix-top col-lg-2 col-md-2 col-sm-2">
    @this.Html.Action("Tags", "Posts", new { postType = typeof(Portfolio) })
</div>
